@{
ViewBag.Title = "Index";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<div class="block">
    <form method="post" action="../" style="width: 200px; height: 60px" class="form-group">
        <input type="text" class="btn-block  form-control" name="login" id="name" placeholder="Логин" />
        <input type="password" class="btn-block  form-control" name="password" id="password" placeholder="Пароль" />
        <input type="submit" class="btn-block  form-control" placeholder="Войти" />
    </form>
</div>
