html, body {
    margin: 0 auto;
    padding: 0;
    background-image: url('image/фон-для-сайта-1024x576.jpg');
    -webkit-background-size: cover;
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -ms-background-size: 100%;
    background-size: 100%;
}

.content-style {
    width: 100%;
    min-width: 1300px;
    margin: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 20px;
    margin: 0 0 10px;
    background-color: skyblue;
    width: 100%;
    height: 57px;
    color: #E6E4E4;
    text-align: center;
}


div.body-content {
    background: lightblue;
}


.header {
    background: skyblue;
    position: relative;
    width: 100%;
    top: 0;
    margin: 0;
    z-index: 1000;
}

.logo {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.wrapper {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px #2c2c2c;
}

.msg-overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #000000;
    background: rgba(0, 0, 0, 0.4);
}

    .msg-overlay .msg {
        opacity: 1;
        position: absolute;
        top: 30%;
        left: 41%;
        width: 19%;
        height: 10%;
        background-color: #eee;
        border-radius: 4px;
        border: 1px solid #555;
        text-align: center;
        font-size: 18px;
        display: table;
    }

        .msg-overlay .msg span {
            display: table-cell;
            vertical-align: middle;
        }


#nav * {
    padding: 0;
    margin: 0;
}

header {
    font-family: Arial;
    margin-top: 150px;
}

#nav ul {
    list-style: none;
}

#nav li .second {
    top: 100%;
    display: none;
    position: absolute;
}

#nav > ul > li {
    float: left;
    position: relative;
    min-width: 16.65%;
}

#nav > ul li a {
    font-size: 17px;
    background: #E0E0E4;
    display: block;
    padding: 16px 32px 16px 42px;
    color: #4E4E4F;
    text-decoration: none;
}

#nav li:hover .second {
    display: block;
}

#nav li a:hover {
    transition: all 0.4s ease;
    color: #ededf2;
    background: #4e4e4f;
}

.Login {
    float: right;
    font-weight: 100;
    color: black;
    text-decoration: none;
    padding: 8px;
    margin-left: 10px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background: skyblue;
    box-shadow: 0 3px rgb(48, 44, 44);
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.catalog {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: white;
}

a {
    margin-left: 20px;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.bnt-style {
    margin-left: 3px !important;
}

.half-length {
    margin-left: 3px !important;
    width: 33% !important;
}

.window-style {
    min-width: 1306px;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.modal-list-height {
    width: 100%;
    height: 68px !important;
}

.label-size {
    height: 27px !important;
}

.distant {
    padding-left: 15px !important;
}

.ng-tr-custom {
    text-align: left;
    font-size: 12px;
}

.ng-buttons {
    margin-bottom: 0px;
    margin-right: 0px;
}

.ng-portlet {
    padding: 0px 0px 0px 15px;
}

.ng-buttons-th {
    width: 100%;
}

.ng-scroll-table {
    overflow-x: hidden;
    overflow-y: auto;
}

.margin-produck-interval {
    margin-top: 7px !important;
}

