
<style type="text/css">.modal-dialog {
     width: 96% !important;
 }</style>
<div>
    <div class="modal-header">
        <h3 style="margin-top: -8px;" class="text-center">
            Работа с каталогом
        </h3>
        <div ng-if="openWindow" class="modal-list-height">
           
        </div>
        <div id="portlet" ui-grid="gridProducts" ui-grid-edit ui-grid-cellnav ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection ng-style="{'height':309 + 'px'}">
        </div>
        <br />
        <div align="right">
            <button ng-disabled="openWindow" class="btn btn-xs btn-primary" type="button" ng-click="openWindowAdd()">Добавить</button>
            <button ng-disabled="openWindow" class="btn btn-xs btn-success" type="button" ng-click="SaveEdit()">Сохранить отредактированные данные</button>
            <button class="btn btn-xs btn-warning" type="button" ng-click="cancel()">Закрыть</button>

        </div>
    </div>
</div>