@{
ViewBag.Title = "Registration";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="block">
    <form method="post" action="../" style="width: 200px; height: 50px;" class="form-group">
        <label><strong>Имя</strong></label>
        <input class="form-control" type="text" style="padding: 0;" />
        <label><strong>Фамилия</strong></label>
        <input class="form-control" type="text" style="padding: 0;" />
        <label><strong>Отчество</strong></label>
        <input class="form-control" type="text" style="padding: 0;" />
        <label><strong>Email</strong></label>
        <input class="form-control" type="text" style="padding: 0;" />
        <label><strong>Пароль</strong></label>
        <input class="form-control" type="password" style="padding: 0;" />

        <label><strong>Повторите пароль</strong></label>
        <input class="form-control" type="password" style="padding: 0;" />  <br />
        <input type="submit" class="btn-block  form-control" placeholder="Регистрация" style="padding: 0;" />
    </form>
</div>