<h5 style="width: 96%; font-size:20px" class="navbar-text text-info">Панель администратора</h5>
<div style="width: 100%">
    <div class="pull-left half-length">
        <button style="height: 90px;" ng-click="openList()" class="pull-left btn btn-primary btn-block">Справочник брендов</button>
        <button style="height: 90px;" ng-click="openCatalog()" class="pull-left btn btn-primary btn-block">Работа с каталогом</button>
        <button style="height: 90px;" ng-click="openSubcategory()" class="pull-left btn btn-primary btn-block">Подкатегории</button>
    </div>
    <div class="pull-left half-length">
        <button style="height: 90px;" ng-click="openCountry()" class="btn btn-primary btn-block">Справочник стран</button>
        <button style="height: 90px;" ng-click="openUser()" class="btn btn-primary btn-block">Справочник пользователей</button>
    </div>
    <div class="pull-left half-length">
        <button style="height: 90px;" ng-click="openNumberString()" class="btn btn-primary btn-block">Справочник струн</button>
        <button style="height: 90px;" ng-click="openGallery()" class="btn btn-primary btn-block">Галерея</button>
    </div>
</div>