<h5 style="width: 96%; font-size:20px" class="navbar-text text-info">Панель администратора</h5>
<div style="width: 100%">
    <div class="pull-left half-length">
        <button class="pull-left btn btn-primary btn-block" ng-click="openList()" style="height: 90px;">Справочник брендов</button>
        <button class="pull-left btn btn-primary btn-block" ng-click="openProduct()" style="height: 90px;">Работа с каталогом</button>
        <button class="pull-left btn btn-primary btn-block" ng-click="openSubcategory()" style="height: 90px;">Подкатегории</button>
    </div>
    <div class="pull-left half-length">
        <button class="btn btn-primary btn-block" ng-click="openCountry()" style="height: 90px;">Справочник стран</button>
        <button class="btn btn-primary btn-block" ng-click="openUser()" style="height: 90px;">Справочник пользователей</button>
        <button class="pull-left btn btn-primary btn-block" ng-click="openCategory()" style="height: 90px;">Категории</button>
    </div>
    <div class="pull-left half-length">
        <button class="btn btn-primary btn-block" ng-click="openNumberString()" style="height: 90px;">Справочник струн</button>
        <button class="btn btn-primary btn-block" ng-click="openGallery()" style="height: 90px;">Галерея</button>
    </div>
</div> 