<div class="modal-header">
    <h3 style="padding:0; text-align: center">Корзина</h3>
</div>
<div class="modal-body">
    <table class="table table-striped table-bordered table-hover bg-info">
        <thead>
        <tr>
            <th style="text-align: center">Бренд</th>
            <th style="text-align: center">Страна</th>
            <th style="text-align: center">Дата выпуска</th>
            <th style="text-align: center">Кол-во струн</th>
            <th style="text-align: center">Цена</th>
        </tr>
        </thead>   
        <tbody>
        <tr ng-repeat="value in dataProducts">
            <td>{{value.Brand.Name}}</td>
            <td>{{value.Country.Name}}</td>
            <td>{{value.DateManufacture | date:'MM/dd/yyyy'}}</td>
            <td>{{value.NumberString.Number}}</td>
            <td>{{value.Price}}</td>         
        </tr>
        </tbody>
    </table>        
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="">Перейти к покупке</button>
    <button type="button" class="btn btn-danger" ng-click="">Вернуться в каталог</button>

</div>
