<h1 align="center">Авторизация</h1>
<div align="center">
    <h3>Нет аккаунта?<a href="" ui-sref="mainPage/Registration">Регистрация!</a></h3>
</div>


<div align="center">
    <form style="width: 200px; height: 60px" class="form-group" name="formlogin">

        <input type="text" class="btn-block  form-control" name="login" required="" id="name" placeholder="Логин" ng-model="user.login" />


        <input type="password" class="btn-block form-control" name="password" required="" id="password" placeholder="Пароль" ng-model="user.password" />


        <input type="submit" class="btn-block btn-sm btn-info  form-control" value="Войти" ng-click="addBrang(user,formlogin)" />

    </form>

</div>