<h1 align="center">Регистрация</h1>
<div align="center">
    <h3>Уже зарегистрированы?<a href="" ui-sref="mainPage/Login">Войти!</a></h3>
</div>

<div align="center">
    <form style="width: 200px; height: 60px" class="form-group" name="formreg">

        <!--<input class="form-control" type="text" placeholder="Имя" required ng-model="user.Name" />-->

        <input class="form-control" type="text" placeholder="Имя" required="" ng-model="user.LastName" />

        <input class="form-control" type="text" placeholder="Фамилия" required="" ng-model="user.MiddleName" />

        <input class="form-control" type="email" placeholder="Email" required="" ng-model="user.Email" />

        <input class="form-control" type="password" placeholder="Пароль" required="" ng-model="user.Password" />

        <input type="submit" class="btn-block btn-sm btn-info form-control" value="Отправить" ng-click="registration(user,formreg)" />
    </form>
</div>

