<h1>Регистрация</h1>
<div align="center">
    <h3>Зарегистрируйтесь! Если у Вас есть Логин и пароль, воспользуйтесь формой<a href="" ui-sref="mainPage/Login">Авторизации</a>!</h3>
</div>


<div align="center">
    <form style="width: 200px; height: 60px" class="form-group" name="login">
        <label><strong>Имя</strong></label>
        <input class="form-control" type="text" style="padding: 0;" />
        <label><strong>Фамилия</strong></label>
        <input class="form-control" type="text" style="padding: 0;" />
        <label><strong>Отчество</strong></label>
        <input class="form-control" type="text" style="padding: 0;" />
        <label><strong>Email</strong></label>
        <input class="form-control" type="text" style="padding: 0;" />
        <label><strong>Пароль</strong></label>
        <input class="form-control" type="password" style="padding: 0;" />
        <label><strong>Повторите пароль</strong></label>
        <input type="submit" class="btn-block  form-control" placeholder="Войти" ng-click="addBrang(user,login)" />
    </form>
</div>
