<h1 align="center">Регистрация</h1>
<div align="center">
    <h3>Уже зарегистрированы?<a href="" ui-sref="mainPage/Login">Войти!</a></h3>
</div>


<div align="center">
    <form style="width: 200px; height: 60px" class="form-group" name="formreg">

        <input class="form-control" type="text" placeholder="Имя" required="" />

        <input class="form-control" type="text" placeholder="Фамилия" required="" />

        <input class="form-control" type="text" placeholder="Отчество" required="" />

        <input class="form-control" type="text" placeholder="Email" required="" />

        <input class="form-control" type="password" placeholder="Пароль" required="" />

        <input type="submit" class="btn-block btn-sm btn-info form-control" value="Отправить" ng-click="addBrang(user,formreg)" />
    </form>
</div>
