<div style="width: 100%" class="container-fluid header">
    <div class="logo pull-left" style="margin-left: -14px">
        <img src="../../Content/image/images.png" alt="logo" height="70" width="340" />
    </div>
    <div style="float: left">
        <h1 style="font-style: italic; color: white">
            <a href="#">Магазин музыкальных инструментов</a>
        </h1>
    </div>
    <div>
        <a class="Login" href="" ui-sref="mainPage/Login">Войти</a>
        <a class="Login" href="" ui-sref="mainPage/Registration">Регистрация</a>
    </div>
</div>
<div ng-if="$root.siteFilter">
    <div class="body-content">
        <div ng-if="$root.ProduktsFilter" ng-click="$root.filterData(0,0,false)" style="margin-left: 2px;margin-top: 34px;" class="pull-left"><button class="btn btn-xs btn-danger" tooltip-placement="right-top" uib-tooltip="Сброс параметров"><i class="fa fa-times"></i></button></div>
        <div class="bg-info  text-center ng-buttons-th" style="height: 56px;">
            <div class="container wrapper pull-left" style="width: 84%;">
                <p class="catalog" style="padding-top: 10px"><a href="" ui-sref="mainPage/Catalog">Каталог товаров</a></p>
            </div>
            <div align="right" style="font-size: 18px;" class="pull-left">
                <a href="" ui-sref="mainPage/Cart" style="color: #101010;"><i class="fa fa-shopping-cart"></i><span>В корзине </span><i id="jshop_quantity_products"> {{$root.lengthCart}}<span> товаров</span></i></a>
            </div>
        </div>
    </div>
    <div>
        <nav id="nav">
            <ul>
                <li>
                    <a href="#">Струнные</a>
                    <ul class="second">
                        <li ng-click="$root.filterData(1,2,true)"><a href="#">Электрогитары</a></li>
                        <li ng-click="$root.filterData(1,3,true)"><a href="#">Акустические гитары</a></li>
                        <li ng-click="$root.filterData(1,5,true)"><a href="#">Бас-гитары</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Клавишные</a>
                    <ul class="second">
                        <li ng-click="$root.filterData(2,6,true)"><a href="#">Пианино</a></li>
                        <li ng-click="$root.filterData(2,7,true)"><a href="#">Синтезатор</a></li>
                        <li ng-click="$root.filterData(2,8,true)"><a href="#">Рояль</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Ударные</a>
                    <ul class="second">
                        <li ng-click="$root.filterData(3,11,true)"><a href="#">Малые барабаны</a></li>
                        <li ng-click="$root.filterData(3,12,true)"><a href="#">Большие барабаны</a></li>
                        <li ng-click="$root.filterData(3,13,true)"><a href="#">Тарелки</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Духовые</a>
                    <ul class="second">
                        <li ng-click="$root.filterData(4,14,true)"><a href="#">Трубы</a></li>
                        <li ng-click="$root.filterData(4,15,true)"><a href="#">Тромбон</a> </li>
                        <li ng-click="$root.filterData(4,16,true)"><a href="#">Саксофон</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Смычковые</a>
                    <ul class="second">
                        <li ng-click="$root.filterData(5,17,true)"><a href="#">Скрипка</a></li>
                        <li ng-click="$root.filterData(5,18,true)"><a href="#">Виолончель</a> </li>
                        <li ng-click="$root.filterData(5,19,true)"><a href="#">Контрабас</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Народные</a>
                    <ul class="second">
                        <li ng-click="$root.filterData(6,21,true)"><a href="#">Аккордеон</a></li>
                        <li ng-click="$root.filterData(6,23,true)"><a href="#">Гармонь</a> </li>
                        <li ng-click="$root.filterData(6,24,true)"><a href="#">Баян</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
