<h1 align="center">Мои заказы</h1>
<div align="center" style="padding: 16px">
    <button class="Block_order btn">Все</button>
    <button class="Block_order btn">Ожидают отправки</button>
    <button class="Block_order btn">Отправленные</button>
    <button class="Block_order btn">Ожидают отзыв</button>
    <button class="Block_order btn">Завершенные</button>
</div>
<div ui-grid="gridUserRoom" ui-grid-cellnav ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection ng-style="{'height': mh}">
</div>